# Git
.git
.gitignore

# Python cache
__pycache__/

# Окружения
.venv/
venv/

# Это чтобы временные мои файлы не залились случайно
.DS_Store
.idea/
.vscode/

# Docker (не нужны внутри образа)
Dockerfile
docker-compose.yml

# Runtime data (на всякий случай)
volumes/
envs/

# Tests / misc (если появятся)
tests/
